@CHARSET "UTF-8";

body,html {
	margin: 0;
	padding: 0;
	font-size: 14px;
	height: 100%;
	font-family: 微软雅黑;
	background:#f7f4ed;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0;
}

.none{
	display:none;
}

.menu {
	border: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	background: #E3E4E6;
	border-bottom: #2d3e5c 1px solid;
}

.menu ul {
	height: 43px;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.menu li {
	float: left;
	line-height: 43px;
	/*padding: 0 10px;*/
	text-align:center;
	width:33.1%;  
	border-right: #ccc 1px solid;
}

.menu li a{
	color: #666;
	text-decoration: none;
	font-size:14px;
}

.tuc{margin-top: 20px;padding: 10px 10px;}

.menu .dq{
	border:0;
	background: #2d3e5c;
}

.menu .semu{
	border:0;
	background: #FF6B1F;
}
.menu .semu a{
	color: white;
}

.menu .dq a{
	color: white;
}

#content {
	min-height: 100%;
	position: relative;
}

#main {
	padding: 0px;
	padding-bottom: 143px;
	/* 20px(font-size)x2(line-height) + 10px(padding)x2=60px*/
}

#main .header { /*height: 100px;*/
	background: #006BAB;
}

#main .header img {
	max-width: 383px;
	width: 50%;
	/*margin: 20px 10px;*/
}

#footer {
	position: absolute;
	bottom: 0;
	background-color: #453F3F;
	width: 100%;
	height:143px;
	color: white;
	font-size: 14px;
}

#footer .right {
	cursor: pointer;
	margin-right: 10px;
	background: #2d3e5c;
	width: 90px;
	text-align: center;
	float: right;
	border: white 1px solid;
}

#footer .left {
	cursor: pointer;
	margin-left: 10px;
	background: #2d3e5c;
	width: 90px;
	text-align: center;
	float: left;
}

#footer .content {
	font-size: 10px;
	margin-left: 5px;
	width: 199px;
}

#footer a {
	font-size: 14px;
	color: white;
}

#footer h1 {
	font: 20px/ 2 Arial;
	margin: 0;
	padding: 0 10px;
}

.express img{
	border:#ccc 2px solid;
	cursor: pointer;
}

.express .dq{
	border: #E4393C 2px solid;
}
